body{
    background: #8d8c8c;
    
}

h1 {
    text-align: center;
}

form {
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 4px;
 }

 .sucess {
    outline: none;
    background-color: rgb(190, 241, 190);
    border: 2px solid green;
    
 }

 .error {
    outline: none;
    background-color: rgb(255, 172, 172);
    border: 2px solid red;
 }